log/*
*~
nbproject/*
*~
dist/
tmp/*
target/

/.settings
/.project
/server/soapui-project.xml
/server/.settings
/server/.classpath
/server/.project
/server/global-groovy.log
/webtopo-server/.settings
/webtopo-server/soapui-project.xml
/webtopo-server/.classpath
/webtopo-server/.project
/webtopo-server/global-groovy.log
/webtopo-client/.project
/webtopo-client/.settings
/webtopo-client/.classpath